html,
body,
div {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
#root>div {
  height: 100%;
}

html {
  font-size: 16px;
}

.box {
  height: 100%;
  width: 100%;
}

:root {
  --transform-size: 20vw;
  --point-width: calc(var(--transform-size) / 8);
  --point-and-circle: calc(var(--transform-size) + var(--point-width));
  --font-size: 1rem;
}